<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/css">
<body>

</body>


<script src="http://127.0.0.1:8000/js"></script>

<script type="text/javascript">
/*
    
    // creating request
    const xhr = new XMLHttpRequest();
    
    // opening request
    xhr.open("GET", "http://127.0.0.1:8000", true);

    // loading and handling request
    xhr.onload = function () {

        if (xhr.status === 200) {
            const section = document.createElement("section");
            section.innerHTML = xhr.responseText;
            document.body.appendChild(section);
            console.log(xhr);
        } else {
            console.error("Error: " + xhr.statusText);
        }
        
    };
    
    // sending request
    xhr.send();
*/
</script>
</html>