<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>


<script type="text/javascript">(function () {
    var ldk = document.createElement('script');
    ldk.type = 'text/javascript';
    ldk.async = true;
    ldk.src = 'https://s.cliengo.com/weboptimizer/657319eafa14400032435005/657319ecfa14400032435008.js?platform=view_installation_code';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ldk, s);
})();</script>

<script type="text/javascript">
//<script src="http://127.0.0.1:8000">
/*
    
    // creating request
    const xhr = new XMLHttpRequest();
    
    // opening request
    xhr.open("GET", "http://127.0.0.1:8000", true);

    // loading and handling request
    xhr.onload = function () {

        if (xhr.status === 200) {
            const section = document.createElement("section");
            section.innerHTML = xhr.responseText;
            document.body.appendChild(section);
            console.log(xhr);
        } else {
            console.error("Error: " + xhr.statusText);
        }
        
    };
    
    // sending request
    xhr.send();
*/
</script>
</html>